<div class = 'container about-container'>

  <div class = 'about-photo'>
    <img src="<%= image_url 'section-artist.jpg' %>" alt=""/>
  </div>

  <div class = 'about-description'>
    Вы пришли на сайт практикующего фотографа и преподавателя. <br/>
    Кому он может быть интересен? <br/>
    Друзьям - для теплых встреч и совместных воспоминаний. <br/>
    Зрителям - для серьезного анализа и аргументированной критики. <br/>
    Тем, кто хотел бы оказаться перед доброжелательным объективом автора. <br/>
    Тем, кто готов оставить на время любимый город и отправиться в другие веси. <br/>
    Тем, кто хотел бы после небольшого учебного курса научиться видеть и снимать... <br/>

    <h1>Об авторе:</h1>
    <h2>Всеволод Борисович Тоботрас</h2>

    Член Союза фотохудожников России. <br/>
    Преподавал курс фотографии в ВУЗах Москвы и Академии классической фотографии (до 2012 г. доцент Московского государственного Текстильного университета).
    <br/>
    Разработал авторский начальный курс фотографии. <br/>
    В 2004-2009 гг. - ответственный секретарь Российского фестиваля студенческой фотографии. <br/>
    Организатор обучающих фототуров по Русскому Северу и Северной Осетии, Латвии, Украине и Беларуси. <br/>
    Работы автора находятся в фондах Каргопольского государственного историко-архитектурного и художественного музея, Соловецкого государственного историко-архитектурного и природного музея-заповедника и личных коллекциях.
    <br/>
  </div>

</div>