<div class = 'container about-container'>
  <div class="row">
    <div class="col-sm-5">
      <img class = 'about-img' src="<%= url_to_image 'section-artist.jpg' %>" alt=""/>
      <%= form_tag({ :action => 'send_email'}, {:remote => true, :class => 'feedback-form'}) do %>
        <h1>Напишите мне</h1>
        <div class="form-group">
          <input type="text" autofocus required class="form-control" value="" name = 'from' id="name" placeholder="Пожалуйста, представьтесь">
        </div>
        <div class="form-group">
          <input type="email" required class="form-control" value="" name = 'email' id="email" placeholder="Укажите Ваш e-mail, чтобы я смог вам ответить">
        </div>
        <div class="form-group">
          <textarea class="form-control" required id="text" rows = 6 name = 'message' placeholder="Ваше сообщение"></textarea>
        </div>
      <button type="submit" class="btn btn-default">Отправить</button>
      <% end %>
    </div>
    <div class="col-sm-7 about-text">
      <p>Вы пришли на сайт практикующего фотографа и преподавателя.
      Кому он может быть интересен? </p>
      Друзьям - для теплых встреч и совместных воспоминаний. <br/>
      Зрителям - для серьезного анализа и аргументированной критики. <br/>
      Тем, кто хотел бы оказаться перед доброжелательным объективом автора. <br/>
      Тем, кто готов оставить на время любимый город и отправиться в другие веси. <br/>
      Тем, кто хотел бы после небольшого учебного курса научиться видеть и снимать...

      <h1>Всеволод Борисович Тоботрас</h1>

      <p>Член Союза фотохудожников России. </p>
      <p>Преподавал курс фотографии в ВУЗах Москвы и Академии классической фотографии (до 2012 г. доцент Московского государственного Текстильного университета).</p>

      <p>Разработал авторский начальный курс фотографии.</p>
      <p>В 2004-2009 гг. - ответственный секретарь Российского фестиваля студенческой фотографии.</p>
      <p>Организатор обучающих фототуров по Русскому Северу и Северной Осетии, Латвии, Украине и Беларуси.</p>
      <p>Работы автора находятся в фондах Каргопольского государственного историко-архитектурного и художественного музея, Соловецкого государственного историко-архитектурного и природного музея-заповедника и личных коллекциях.</p>

      <h1> Публикации и выставки </h1>
      <ul>
        <li>Пора собираться в Каргополь. «Социальное партнерство», №2, 2005</li>
        <li>Каргополь. 850 лет. Фотоальбом. М., 1997</li>
        <li>Зеркало. Дмитров, 2005</li>
        <li>Формула успеха. «Арба», №3, 2012</li>
        <li>Жизнь как путешествие. М., 2013</li>
        <li>Вера в России. М, 2013</li>
        <li>Окно в мир. Ереван, 2014</li>
        <li>Благословенный путь. М, 2014</li>
        <li>Созвучия. М, 2014</li>
        <li>Г.Колосов: друзья и ученики. М., 2015</li>
      </ul>
    </div>
  </div>

</div>