<div class="container">
  <h1>Фотосъемка</h1>
  <p>Создание портрета, репортажа, архитектурная, пейзажная, предметная и интерьерная съемка – увлекательное, но непростое дело. И поручать его нужно опытному и деликатному фотографу.</p>
  <p>Приглашаю на фотосъемку! В студии или на пленере, дома или в офисе – профессиональная фотографическая работа с учетом Ваших желаний и возможностей.</p>
  <p>В короткие сроки, с высоким качеством, на любом носителе Вы получите результаты нашей совместной работы.</p>
  <p>Предлагаю новую технологию создания фотоисторий – фотографическое сопровождение на экскурсии и в путешествиях.</p>
  <p>Сославшись на мой сайт, Вы получите 3% скидку на стоимость услуги.</p>
  <p>Пожалуйста, посмотрите альбомы</p>
</div>