<div class="container">
  <h3>Принимаются заказы на различные виды фотографической съемки:</h3>
  <ul>
    <li>классический портрет в студии, дома, в учреждении и на пленере;</li>
    <li>репортажная, событийная и юбилейная съемка;</li>
    <li>семейный и детский портрет;</li>
    <li>архитектура и интерьер;</li>
    <li>фотографическое сопровождение в турпоездке</li>
  </ul>
  <p>
    По итогам фотосессии заказчику отправляется заранее оговоренное количество файлов высокого разрешения или
    выполняется печать снимков на обычной, акварельной бумаге или холсте.
  </p>
</div>