<div class = 'container-fluid admin-panel news-edit-panel'>
  <div class="jumbotron">
    <h2>Редактирование новости</h2>
    <%= render 'form' %>
  </div>
  <%= link_to 'Вернуться', admin_articles_path, class: 'btn btn-primary' %>
</div>