<div class = 'container'>
  <div class="jumbotron admin-panel">
    <h2>Добавить новость</h2>
    <%= render 'form' %>
  </div>
  <%= link_to 'Вернуться', admin_articles_path, class: 'btn btn-primary' %>
</div>

