<div class = "article">
  <%= link_to "/articles/#{article.id}" do %>
    <h1 class = "article-title"><%= article.title %></h1>
  <% end %>
  <p class = "article-text"><%= article.content %></p>
</div>