<div class = "article panel panel-default">
  <div class = 'panel-heading'>
    <%= link_to "/articles/#{article.id}" do %>
        <h3 class = "article-title"><%= article.title %></h3>
    <% end %>
  </div>
  <div class = 'panel-body'>
    <div class = "article-text"><%= article.content.html_safe %></div>
  </div>
  <div class = 'social'>
    <div class="fb-like" data-href="<%= root_url + "articles/#{article.id}" %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
</div>