<%= content_for :meta do %>
    <meta property="og:url"         content="<%= root_url %>" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="<%= @article.title %>" />
    <meta property="og:description" content="" />
    <meta property="og:image"       content="" />
    <meta property="fb:app_id" content="833150406780657" />
<% end %>

<div class = 'container'>
    <%= render partial: 'article', locals: {article: @article} %>
</div>