<div class = 'container'>
  <div class="jumbotron admin-panel">
    <h2>Редактирование секции</h2>
    <%= render 'form' %>
  </div>
  <%= link_to 'Вернуться', admin_sections_path, class: 'btn btn-primary' %>
</div>