<div class="container events-container">
  <% if user_signed_in? %>
      <%= link_to({action: 'new', section: @section}, {class: 'link-add-event btn btn-success btn-lg'}) do %>
          <span class="glyphicon glyphicon-plus"></span>
          Добавить статью
      <% end %>
  <% end %>

  <% @events.each do | e | %>
    <%= render partial: 'event', locals: {event: e, section: @section} %>
  <% end %>
</div>