/* line 5, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.thumbnail.photo {
  height: 350px;
}
/* line 8, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.thumbnail.photo .img-container {
  position: relative;
  height: 250px;
}
/* line 11, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.thumbnail.photo .img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 250px;
  max-width: 100%;
}
/* line 23, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.thumbnail.photo .caption {
  height: 100px;
}

/* line 28, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.modal-footer {
  text-align: left;
}

/* line 33, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.modal-body.thumbnail {
  margin: 0;
}

/* line 38, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
#myModalLabel {
  font-size: 1.5em;
}

/* line 43, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
#make-cover {
  display: inline-block;
  margin-left: 10px;
}

/* line 49, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.message {
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  margin-bottom: 0;
}

/* line 57, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.album-container {
  padding: 20px 0;
}

/* line 61, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.album-form {
  padding: 0 15px;
}

/* line 65, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.album-photo {
  padding: 5px;
  max-height: 200px;
  overflow: hidden;
}

/* line 71, /home/kirill/PhotoArt/app/assets/stylesheets/admin/albums.scss */
.album-photo > img {
  width: 100%;
}
