<div class = 'container'>
  <div class = 'row albums'>
    <% @albums.each do | album | %>
      <div class = 'album col-xs-3'>
        <%= link_to "/gallery/#{album.id}" do %>
            <%= render partial: 'albumCard', locals: {album: album} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>