/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require header
 *= require admin
 *= require pagination
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgb(34, 34, 34);
  color: white;
}

@font-face {
    font-family: 'Source Code Pro';
    src: font-url("code_light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosa Marena';
    src: font-url("rosa_marena.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:'MyriadPro-Light';
  src: font-url('MyriadPro-Light_gdi.eot');
  src: font-url('MyriadPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
  font-url('MyriadPro-Light_gdi.woff') format('woff'),
  font-url('MyriadPro-Light_gdi.ttf') format('truetype'),
  font-url('MyriadPro-Light_gdi.otf') format('opentype'),
  font-url('MyriadPro-Light_gdi.svg#MyriadPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'MyriadPro-Regular';
  src: font-url('MyriadPro-Regular_gdi.eot');
  src: font-url('MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
  font-url('MyriadPro-Regular_gdi.woff') format('woff'),
  font-url('MyriadPro-Regular_gdi.ttf') format('truetype'),
  font-url('MyriadPro-Regular_gdi.otf') format('opentype'),
  font-url('MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

body {
  @extend .regular
}

.title {
  font-family: 'Source Code Pro';
}

.regular {
  font-family: "MyriadPro-Light", Monaco, monospace;
  font-size: 16px;
}

a:link {
    text-decoration: none;
    color: #9d9d9d;
}

a:link.btn {
  color: #ffffff;
  &:hover {
    color: white;
  }
}

a {
  color: #9d9d9d;
}

a:hover {
    color: #ffffff;
}

.link {
  display: inline-block;
  padding: 5px;
  background-color: black;
  &:hover {
    background-color: black;
    text-decoration: none;
  }
}

.album {
  .album-card {
    background-size: cover;
    background-position: center center;
    height: 300px;
    border: 1px solid #101010;

    .album-caption {
      position: absolute;
      bottom: 20px;
      display: block;
      border: 1px solid #101010;
      text-transform: uppercase;
      border-radius: 0 0 2px 2px;
      text-align: center;
      width: calc(100% - 30px);
      padding: 0;
      margin: 0 15px;
      left: 0;
      background-color: #171717;
      font-size: 25px;
    }
  }
}

pre {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
  color: black;
  border: none;
  @extend .regular;
}