.article {
  color: black;
  margin-top: 20px;

  .panel-heading {
    background-color: #C0C0C0;
    background-image: none;
    .article-title {
      color: black;
    }
  };
  hr {
    margin-top: 15px;
    margin-bottom: 5px;
    border-top: #b4b4b4 1px solid;
  }
  .panel-body {
    background-color: rgb(219, 219, 219);;
  }
}

.link-to-news {
  margin-top: 20px;
  margin-bottom: 20px;
}