.article {
  color: black;
  margin-top: 20px;

  .panel-heading {
    background-color: #C0C0C0;
    background-image: none;
    .article-title {
      color: black;
    }
  };
  .social {
    padding: 5px 10px;
  }
}