html,
body
{
    height: 100%;

}

nav
{
    z-index: 2;
}

.background
{
    position: fixed;

    background-size: contain;
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;

    height: 100%;
}

.carousel-inner
{
    height: 100%;
}

.carousel
{
    position: fixed;
    height: 100%;
    width:100%;
    top: 0;
}

