html,
body
{
    height: 100%;

}

nav
{
    z-index: 2;
}

.background
{
    position: fixed;

    background-size: contain;
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;

    height: 100%;
}

.carousel-inner
{
    height: 100%;
}

.carousel
{
    position: fixed;
    height: 100%;
    width:100%;
    top: 0;
}

.album-card {
  min-width: 250px;

  .caption {
    padding : 0 10px;
    h3 {
      margin-top: 15px;
    }
  }
}

