.navbar {
    background: #101010; /* Old browsers */
    border-bottom: black 2px solid;
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Rosa Marena', sans-serif;
    font-size: 32px;
}

.navbar-nav li {
    font-size: 20px;
}

.navbar {
    margin: 0;
}

.navbar-inverse .navbar-brand {
    color: #D7D7D7;
}

.navbar-inverse .navbar-brand,
.nav.navbar-nav {
    margin: 10px;
}