.navbar {
    background: #101010; /* Old browsers */
    border-bottom: black 2px solid;
    border-radius: 0;
}

.navbar-nav li {
  font-size: 20px;
  a {
    padding: 15px 10px;
    @media (max-width: 1110px) {
      padding: 5px 0;
    }
  }

  @media (max-width: 1110px) {
    width: 33.3333333%;
    text-align: center;
  }

  @media (max-width: 768px) {
    text-align: left;
  }
}

.navbar {
    margin: 0;
}

.navbar-inverse .navbar-brand {
  color: #D7D7D7;
  font-family: 'Rosa Marena', sans-serif;
  font-size: 32px;
  margin: 10px 5px;
  padding: 15px 5px;
}

ul.navbar-nav {
  margin: 10px;
  @media (max-width: 1110px) {
    width: calc(100% - 240px);
    margin: 5px;
  }
}