.static-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-content {
  margin-top: 10px;
}

.sections {
  margin: 0;
  padding: 0 60px;

  @media (max-width: 930px) {
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.section {
  margin-bottom: 10px;
  padding: 10px 10px;

  @media (max-width: 768px) {
    padding: 2px 2px;
  }

  .section-image {
    background-size: cover;
    background-position: center center;
    height: 300px;
    border: 1px solid #101010;
    border-radius: 3px;
    pointer-events: none;

    @media (max-width: 768px) {
      height: 250px;
    }
    @media (max-width: 580px) {
      height: 200px;
    }
    @media (max-width: 370px) {
      height: 150px;
    }

    .section-title {
      color: rgb(157, 157, 157);
      position: absolute;
      bottom: 0;
      display: block;
      box-sizing: border-box;
      border: 1px solid #101010;
      text-transform: uppercase;
      border-radius: 0 0 3px 3px;
      text-align: center;
      width: calc(100% - 20px);
      padding: 0;
      margin: 0 10px;
      left: 0;
      background-color: #090909;
      font-size: 28px;

      @media (max-width: 768px) {
        font-size: 22px;
        width: calc(100% - 4px);
        margin: 0 2px;
      }
    }
  }
  .section-description {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    pointer-events: all;
    height: calc(100% - 20px);
    background-color: #0f0f0f;
    opacity: 0;
    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 550px) {
      font-size: 16px;
      padding: 8px;
    }
  }
}


.main-content {
  padding: 0;
}

.about-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.about-photo {
  float: left;
  width: 50%;

  img {
    width: 100%;
    height: auto;
  }
}

.about-description {
  float: right;
  width: 50%;
  padding: 0 20px;
}

.feedback-placeholder {
  &::-webkit-input-placeholder { font-size: 18px;  color:#E0DBDB; }
  &::-moz-placeholder          { font-size: 18px; color:#E0DBDB; }/* Firefox 19+ */
  &:-moz-placeholder           { font-size: 18px; color:#E0DBDB; }/* Firefox 18- */
  &:-ms-input-placeholder      { font-size: 18px; color:#E0DBDB; }
}

.feedback-form {
  input,
  textarea {
    background-color: rgb(11, 11, 11);
    font-size: 18px;
    color: white;

    &:hover {
      background: black;
    }
    @extend .feedback-placeholder
  }

  textarea {
    max-width: 100%;
  }
  button {
    color: #cccccc;
    font-size: 18px;
    background: #181818;
    &:hover,
    &:focus {
      color: white;
      background: black;
    }
  }
}

.about-img {
  width: 100%
}

.about-text {
  text-indent: 30px;

  ul {
    list-style: none;
  }
}
